body,html {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
div#wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #074342;
    padding: 10%;
    box-sizing: border-box;
}
.breadcrumbs, .item-title {
    color: #6d888a;
    font-size: 22px;
    font-family: Roboto;
    font-weight: 500;
}
.main-title, .item-value {
    color:white;
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
}
.main-title {
    font-size: calc(30px + 3.05vw);
    font-family: Roboto;
    font-weight: 700;
    margin:50px 0;
}
.description {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.avatar {
    margin-right: 40px;
}
.avatar img {
    border-radius: 50%;
    border: 5px solid #444951;
}
.items {
    display: flex;
    flex-direction: row;
    width: 75%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.item {
    margin-right: 10%;
}
.item-title, .item-value {
    margin: 8px 0;
}
@media screen and (min-width:800px) and (max-width:1220px)
{
    .items {
        width: 45%;
    }
}
@media screen and (max-width:799px)
{
    .items {
        width: 72%;
    }
}